@import url('https://fonts.googleapis.com/css?family=Varela+Round|Bowlby+One+SC|Courgette|Fredoka+One|Francois+One|Lato&display=swap');
* { list-style-type: none; padding: 0; margin: 0; box-sizing: border-box; text-decoration: none  !important; }

body {
  font-family: "Varela Round";
}

.header {
  height: 8vh;
  width: 100%;
  background-color: #fc85ae;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 30px 5%;
}

nav {
  display: flex;
  height: 100%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  width: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 0px 30px;
}

header span {
  font-family: "Courgette";
  cursor: pointer;
}

header span:hover {
  color: #ad2d53;
}

.signin-button, 
.signin-button:hover {
  margin-left: auto;
  color: #fff;
  font-family: "Varela Round";
}

.signin-button:hover, 
.signup-button:hover {
  text-decoration: none;
}

.signup-button {
  padding: 9px 30px;
  background-color: #fff;
  color: rgb(214, 104, 155);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
  font-family: "Varela Round";
}

.signup-button:hover {
  background-color: rgb(243, 74, 153);
  color: #fff;
}

.overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e73e71;
  font-size: 2em;
}


.overlay-content a {
  text-decoration: none;
  color: #a33ee7;
}

.overlay-content a:hover {
  color: #a33ee7;
}

.overlay-content span:hover {
  cursor: pointer;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav-links,
  .menu {
    display: initial;
  }
}

header ul {
  height: 100%;
  display: flex;
  align-items: center;
}

header div button {
  margin: 0 15px;
  padding: 8px 30px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
}

.hamburger {
  display: none;
}

.hero-section {
  height: 92vh;
  background-color: rgb(235, 49, 136);
}

.hero-section-background {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./assets/images/WomanAndManHoneymoon.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.hero-section-background h1 {
  font-size: 3.2em;
  width: 800px;
  font-family: "Fredoka One";
}

.hero-section-background h1 span {
  font-family: "Fredoka One";
}

.hero-section-background h1 p {
  font-size: 0.4em;
  font-family: Lato;
  line-height: 1.6;

}

h1 span {
  color: rgb(255, 35, 101);
}

.information-section {
  height: auto;
  width: 100%;
  padding: 80px 0;
  padding-bottom: 80px !important;
  background-color: #fc85ae;
}

.information-section-text-box {
  text-align: center;
  color: #fff;
}

.information-section-text-box h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Varela Round";
}

.information-section-text-box p {
  margin-top: 5px;
  margin-bottom: 25px;
  font-family: "Varela Round";
  font-weight: 100;
}

hr { 
  overflow: hidden;
  border-style: inset;
  border: none;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: #49225f4f;
  margin-bottom: 70px !important;
}

.information-section-info-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
}

.information-section-info-boxes > div {
  width: 400px;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.information-section img {
  width: 60px;
  margin-bottom: 10px;
}

.information-text {
  margin-left: 30px;
}

.information-text h5 {
  font-weight: bold;
}

.information-text p:nth-of-type(2) {
  color: #ff2365;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.footer {
  line-height: 3vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer h1 {
  font-size: 1em;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #303a52;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links span {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
  margin: 5px;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right span {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #364f6b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right span:hover { 
  transform:scale(1.1); 
  -webkit-transform:scale(1.1); 
  cursor: pointer;
}

.footer-distributed p.footer-links span:hover { 
  color: #f74077; 
  cursor: pointer;
}

/* Main Media Queries */

@media (max-width: 840px) {

  .hamburger {
    display: block;
    margin-left: auto;
  }

  .nav-links {
    display: none;
  }

  .signin-button, .signup-button {
    display: none;
  }

  header nav {
    display: flex;
  }

  header ul {
    display: none;
  }

  .hero-section-background h1 {
    font-size: 2.5em;
    width: 100%;
  }  

  .information-section {
    padding: 20px 0;
  }

  .success-page h1, .success-page p{
    font-family: "Francois One" !important;
    font-size: 2em !important;
  }

  .success-page p {
    font-size: 1.2em !important;
  }
}

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* SignUp.js & SignIn.js */

legend {
  font-family: "Varela Round";
}

.error-message {
  color: #fff;
  background-color: rgb(245, 109, 136);
  text-align: center;
  border-radius: 5px;
  font-size: 1.1em !important;
  margin-top: 5px !important;
  margin-bottom: 20px !important;
}

.success-message-box {
  background-color: #16d68a;
  height: 100%;
  text-align: center;
  color: #fff;
}

.form-page-background {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box{
	max-width: 500px;
	background: #f4f7f8;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-box fieldset{
	border: none;
}
.form-box legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-box label {
	display: block;
	margin-bottom: 8px;
}

.form-page-1 input,
.form-page-1 textarea,
.form-page-1 select,
.profile-form input,
textarea,
.contact-section input {
	font-family: "Varela Round";
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
  background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.input-margin input {
  margin-bottom: 30px;
}

.input-margin-small input {
  margin-bottom: 5px;
}

.form-box input[type="text"]:focus,
.form-box input[type="email"]:focus,
.form-box input[type="password"]:focus,
.form-box input[type="date"]:focus,
.form-box textarea:focus,
.form-box select:focus{
	background: #d2d9dd;
}

.form-box .number {
	background: #ff2365;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 50%;
}

.form-box input[type="submit"],
.success-page button,
.contact-section input[type="submit"] {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background: #ff2365;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #ad2d53;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.form-box input[type="submit"]:hover, .contact-section input[type="submit"]:hover {
	background: #d31b52;
}

.back-button {
  background-color: #fff !important;
  color: #24252a !important;
  border: 1px solid #d31e54 !important;
  border-width: 1px 1px 3px !important;
  margin-top: 20px !important;
}

/* SuccessPage.js */

.success-page {
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.success-page h1, .success-page p {
  font-family: "Francois One";
  font-size: 3.5em;
}

.success-page h1{
  color: #d31b52;
}

.success-page p {
  font-size: 1.8em;
}

/* YourProfile.js */

.textarea {
  resize: none;
}

.profile-page {
  height: auto;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.profile-form {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-items: center;
  justify-items: center;
  height: auto;
}

.security-questions-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.security-questions-section input {
  margin: 5px;
}

.profile-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #24252a;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.profile-form > div:nth-child(2) {
  background-color: #38393f;
}

.profile-form input {
  width: 80%;
  max-width: auto;
}

.profile-form label{
  margin: 0;
  margin-top: 12px;
}

.profile-form img {
  background-color: #ad2d53;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-form button {
  padding: 5px 30px;
  background-color: #fccde2;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

.gallery-section {
  height: auto;
  margin: 10px;
}

.gallery-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 40vh;
  height: 100%;
  grid-auto-flow: dense;
}

.gallery-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

.gallery-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.horizontal { 
  grid-column: span 2;
}

.vertical { 
  grid-row: span 2;
}

.big { 
  grid-column: span 2;
  grid-row: span 2;
}

.contact-section {
  background-color: #f888aa;
  color: #fff;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-section input {
  width: 300px;
  height: 40px;
}

.contact-section input[type="email"] {
  width: 300px;
  margin-right: 10px;
}

.contact-section input[type="submit"] {
	padding: 0px;
	font-size: 0.8em;
	text-align: center;
	width: 100px;
  margin-bottom: 0px;
}

@media (max-width: 880px) {

  .profile-form {
    display: flex;
    flex-direction: column;
  }

}